# dependencies
node_modules/
.pnp
.pnp.*

# electron-vite build output
out/
dist/

# misc
.DS_Store
*.pem
public/fonts/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
